<%#
	During development, the Webpack middleware 
	stores static files (in memory) at /public
%>
<% var stylesheet = '', script = ''; %>
<% if(env === 'development'){ %>
	<% stylesheet = '/public/css/bundle.css'; script = '/public/js/bundle.js'; %>
 <% } else{ %>  
	<% stylesheet = '/css/bundle.min.css'; script = '/js/bundle.min.js'; %>
<% } %>

<!DOCTYPE html>
	<html lang="en-US"> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
		<link rel="stylesheet" href="<%= stylesheet %>">
	</head>
	<body> 
		<div id="app"><%- html %></div>
	</body>
	<script>
		window.__INITIAL_STATE__ = <%- state %>;
	</script>
	<script src="<%= script %>"></script>
</html>